{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid image-container text-center mt-5 mb-2">
    <img src="https://pp5-liveplants.s3.eu-west-1.amazonaws.com/media/bg-mg-transformed.jpeg"
        alt="colour drawing of saullant plants." id="bg-image">
    <div class="row">
        <div class="mx-auto">
            <hr>
            <h2 class="my-auto home-msg"><strong>
                    Home decor Plants! </strong>
            </h2>
            <hr>

            <p> <strong> "We have a collection of succulents and flowering plants" </strong></p>
            <p> <strong>We will deliver right to your doorstep.</strong></p>

            <hr>
            <a href="{% url 'items' %}" class="home-item mt-3 btn btn-lg btn-outline">
                Checkout the plants</a>

        </div>
    </div>
</div>
{% endblock %}