html {
    height: 100%;
}

body {
    background: rgb(200,255,238);
    height: calc(50vh - 104px);
    font-family: 'Roboto Slab', serif ;
}

.home-item{
    font-size: 42px;
    font-weight: 600;
    background: -webkit-linear-gradient(#e3e623f9,#26ad70);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .home-msg{
    background: -webkit-linear-gradient(#cfe4da, #424228f9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

img {
    width: 80%;
}

.logo {
    background: -webkit-linear-gradient(#41a5ed, #1ea12de0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    font-family: 'Roboto Slab', serif ;
    
}

.logo-shop {
    font-size: 42px;
    background: -webkit-linear-gradient(#41a5ed, #1ea12de0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#logo-dis {
    display: none;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.card-img-top{
    width: 400px;
    height: auto;
}
.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-custom {
    background: #244b3e6b !important;
    color: #fff5ee !important;
    border-radius: 1px !important;
}

.btn-custom:hover,
.btn-custom:active,
.btn-custom:focus {
    background: #fff5ee !important;
    color: #397b65 !important;
}

.btn-black {
    background: rgb(47, 65, 63);
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}


.quantity {
    width: 100% !important;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid rgb(38, 126, 209) !important;
}

.bg-black {
    background: #000 !important;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

a.category-badge > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

.scroll-btn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
  }
    /* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.cart-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}
/* admin edit and delete button */

.btn-edit,
.update-btn {
    color: rgb(7, 108, 7);
}

.btn-delete,
.remove-btn{
    color: rgb(197, 10, 10)
}

/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}



/* footer */

.footer{
    background-color:#a7f2d1;
}

/* mailchimp */

#mc_embed_signup {
    background-color: #93eecaef;
    clear: left;
    font: 10px Raleway, sans-serif;
    width: 30em;
    padding-top: 3px;
}

#mc_embed_signup #mce-EMAIL-HELPERTEXT {
    background-color: #93eecaef!important;
}

#mc_embed_signup .img {
    width: 100%;
}

#mc_embed_signup .optionalParent {

    /* display: flex;
    flex-wrap: wrap;
    flex-direction: row; */
    justify-content: center;
}

/* -------------------------------- Media Queries */


/* fixed top navbar only on medium and up */
@media (min-width: 991px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 100px;
    }

    body {
        height: calc(100vh - 116px);
    }

    .home-item{
        font-size: 22px;
    }
    .nav-link {
        padding: 0.15rem;
    }

    .nav-link i.fa-lg {
        font-size: 1rem;
    }

    .navbar-toggler {
        padding: .6rem .6rem;
        font-size: 1rem;
    }

    #delivery-banner h4 {
        font-size: .9rem;
    }

    .btn.btn-custom.btn-lg {
        padding: .375rem .375rem;
        font-size: .75rem;
    }

    .increment-qty,
    .decrement-qty {
        padding: .25rem .5rem !important;
    }


    .quantity {
        width: 60% !important;
    }

    #bg-image{
        padding-top: 2em;
    }


    div#logo-dis {
         display: block !important;
    }
    
    .logo-shop{
        padding-top: 1em;
        font-size: 22px;
    }

    #logo-dis {
        font-size: 30px;
    }
    .card-img-top{
        width: 200px;
        height: auto;
    }
    .review{
        padding-top: 1em;
    }
    .footer{
        padding-left: 0.3em;
        padding-right: 1em;
    }
    #mc_embed_signup{
        width: 27em;
    }

        /* pdt detail */
    .pdt-detail{
        margin-top: 10em;
    }
    .review-msg{
        margin-left: 5em;
    }

    /* mob nav bar */
.mob-nav{
    font-size: 13px;
}

}