<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
      <li class="nav-item">
        <a href="{% url 'home' %}" class="nav-text-color nav-link font-weight-bold">Home</a>
      </li>
      <li class="nav-item">
        <a href="{% url 'items' %}" class="nav-text-color nav-link font-weight-bold">Shop</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-text-color nav-link font-weight-bold" href="#" id="user-option" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">All Products
        </a>
        <div class="dropdown-menu border-0 nav-text-color" aria-labelledby="user-option">
          <a href="{% url 'items' %}?category=Floweringplants" class="dropdown-item">Flowering Plants</a>
          <a href="{% url 'items' %}?category=sacculents" class="dropdown-item">Sacculents</a>
          <a href="{% url 'items' %}?category=pots" class="dropdown-item">Pots</a>
        
        </div>
      </li>
      <li class="nav-item ">
        <a href="{% url 'items' %}?category=clearance" class="nav-text-color nav-link font-weight-bold">Clearence</a>
      </li>
      <li class="nav-item">
        <a href="{% url 'blog:blog_list' %}" class="nav-text-color nav-link font-weight-bold">Blog</a>
      </li>
      <li class="nav-item">
        <a href="{% url 'contact:contact' %}" class="nav-text-color nav-link font-weight-bold">Contact Us</a>
      </li>
    </ul>
  </div>